.tarjeta{
 
display: flex;
justify-content: center;

}

.eje{
    width: 18px;
    height: 18px;
    background-color: rgb(169, 205, 223);
    
}
.botones{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}