
.botones{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 35px;
}

#boton{   
   
    margin-top: 8px;
    border-radius: 100%;
}

#btn2{   
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 100%;
}

p {

    font-size: 30px;
}